[Unit]
Description=Gemigit
After=network.target

[Service]
StandardOutput=journal
WorkingDirectory=/var/lib/wzgit
ExecStart=/usr/bin/wzgit
User=wzgit
Group=wzgit

[Install]
WantedBy=multi-user.target
