<h2>Account : {{ .User.Name }}</h2>
{{if .User.Description}}<p>{{ .User.Description }}</p>{{end}}

<form action="/account/{{.CSRF}}/chdesc" method="POST">
	<span style="white-space: nowrap">Update your profile description:</span>
	<input class="field" type="text" name="description">
	<input class="btn" type="submit" value="Update">
</form>
<p><a href="/account/groups">Groups</a></p>
<p><a href="/account/token">Authentication tokens settings</a></p>
<p><a href="/account/otp">2FA settings</a></p>
<p>Change your password:</p>
<form action="/account/{{.CSRF}}/chpasswd" method="POST">
	<span style="white-space: nowrap">Old password:</span>
	<input class="field" type="password" name="old_password" required="required">
	<br>
	<span style="white-space: nowrap">New password:</span>
	<input class="field" type="password" name="new_password" required="required">
	<br>
	<span style="white-space: nowrap">Confirm password:</span>
	<input class="field" type="password" name="confirm" required="required">
	<br>
	<p>{{.User.GetError "chpasswd"}}</p>
	<input class="btn" type="submit" value="Update">
</form>
<p><a href="/account/{{.CSRF}}/disconnect">Disconnect</a></p>
{{if .Sessions}}
<p><a href="/account/{{.CSRF}}/disconnectall">Disconnect other sessions [{{.Sessions}}]</a></p>
{{end}}

<h3>Your repositories</h3>
<form action="/account/{{.CSRF}}/addrepo" method="POST">
	<span style="white-space: nowrap">Create a new repository:</span>
	<input class="field" type="text" name="repo" required="required">
	<input class="btn" type="submit" value="Create">
</form>
<ul>
{{ range .Repositories -}} 
<li><a href="/account/repo/{{.}}">{{.}}</a></li>
{{ end }}
</ul>
<h3>Repositories</h3>
<ul>
{{ range .RepositoriesAccess -}} 
<li><a href="/repo/{{.User.Name}}/{{.Name}}">{{.Name}} by {{.User.Name}}</a></li>
{{ end -}}
</ul>
