{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{.}}">
		<title>{{.Title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="icon" type="image/png" href="/static/favicon.png">
	</head>
	<body>
		<div class="header">
			<h1><a href="/">{{.Title}}</a></h1>
			<p>
			{{$last := (len .Navs | sub 1)}}
			{{if not (eq (len .Navs) 0)}}&gt; {{end}}
			{{$start := ""}}
			{{range $i, $v := .Navs}}
				{{$start = print $start "/" $v}}
				{{if eq $v "repo"}}{{$v = "repositories"}}{{end}}
				{{if eq $v "otp"}}{{$v = "2FA"}}{{end}}
				{{if not (eq $i $last)}}<a href="{{$start}}">{{title $v}}</a> &gt;
				{{else}}{{title $v}}
				{{end}}
			{{end}}
			</p>
			{{if .IsConnected}}
			<div style="margin-left: auto; padding-right: 20px;">
			<p><a href="/account">{{.User.Name}}</a></p>
			</div>
			{{end}}
		</div>
		<div id="main">
{{end}}
