<h2>Login</h2>
<form action="/login" method="POST">
	<table>
		<tr>
			<th>Username:</th>
			<td><input class="field" type="text" name="username" required="required"></td>
		</tr>
		<tr>
			<th>Password:</th>
			<td><input class="field" type="password" name="password" required="required"></td>
		</tr>
{{if .Captcha}}
{{$id := captcha}}
		<tr>
			<th></th>
			<td class="captcha"><img loading="lazy" src="/captcha?{{$id}}" alt="captcha"></td>
			<input type="hidden" name="captcha_id" value="{{$id}}">
		</tr>
		<tr>
			<th>Captcha:</th>
			<td><input type="text" name="captcha" required="required"></td>
		</tr>
{{end}}
		<tr>
			<th>2FA Code:</th>
			<td><input class="field" type="text" name="otp"></td>
		</tr>
	</table>
{{if .Error}}
	<p>{{.Error}}</p>
{{end}}
	<input class="btn" type="submit" value="Login">
</form>
