<h2>{{$.Repo}}</h2>

<form action="/{{$.User.Name}}/{{.Repo}}/access/{{.CSRF}}/add" method="POST">
	<span style="white-space: nowrap">Add user:</span>
	<input class="field" type="text" name="name">
	<input class="btn" type="submit" value="Add">
</form>
<p>{{.User.GetOnce "access_user_error"}}</p>
<form action="/{{$.User.Name}}/{{.Repo}}/access/{{.CSRF}}/addg" method="POST">
	<span style="white-space: nowrap">Add group:</span>
	<input class="field" type="text" name="group">
	<input class="btn" type="submit" value="Add">
</form>
<p>{{.User.GetOnce "access_group_error"}}</p>

<h3>Collaborators</h3>

<ul>
{{range .Collaborators}}
<li>{{ .Name }} - Privilege : {{.Privilege | AccessPrivilege}}</li>
{{if $.Owner -}}
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/{{$.CSRF}}/first">{{.Privilege | AccessFirst}}</a></p>
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/{{$.CSRF}}/second">{{.Privilege | AccessSecond}}</a></p>
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/{{$.CSRF}}/kick">Remove</a></p>
{{end}}
{{end}}
</ul>

<h3>Groups</h3>

<ul>
{{ range .Groups -}}
<li>{{ .Name }} - Privilege : {{.Privilege | AccessPrivilege}}</li>
{{if $.Owner -}}
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/g/{{$.CSRF}}/first">{{.Privilege | AccessFirst}}</a></p>
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/g/{{$.CSRF}}/second">{{.Privilege | AccessSecond}}</a></p>
<p><a href="/{{$.User.Name}}/{{$.Repo}}/access/{{.Name}}/g/{{$.CSRF}}/kick">Remove</a>
{{end}}
{{end}}
</ul>
