<h2>Settings</h2>
<p>Account status : {{if .Secure}}Secure{{else}}Insecure{{end}}</p>
<p>Password authentication for git operations is
{{if .Secure}}disabled [Recommended]{{else}}enabled [Not recommended]{{end}}</p>
<p><a href="/account/token/{{.CSRF}}/secure">{{if .Secure}}Enable{{else}}Disable{{end}}</a></p>

<h2>Tokens</h2>
{{if .User.Get "new_token"}}
<h3>New token created</h3>
<p>Copy this token : {{.User.GetOnce "new_token"}}</p>
{{end}}
<p><a href="/account/token/{{.CSRF}}/new">Create new token</a></p>
<p><a href="/account/token/{{.CSRF}}/new_ro">Create new read-only token</a></p>

<ul>
{{range .Tokens}}
<li>
{{ .Hint }}... expires on {{ .ExpirationFormat }} {{if .ReadOnly}}[Read Only]{{end}}
<p><a href="/account/token/{{$.CSRF}}/delete/{{.ID}}">Delete</a></p>
<p><a href="/account/token/{{$.CSRF}}/renew/{{.ID}}">Renew</a></p>
</li>
{{end}}
</ul>
