body {
	margin: 0;
	padding: 0 0;
	background-color: #1e1e1e;
}

.header {
	height: 100%;
	padding: 10px;
	background-color: #282828;
	display: flex;
}

.header h1 {
	margin-top: 10px;
	padding: 10px;
}

.header p {
	margin-top: auto;
	margin-bottom: auto;
}

p, li, th, span {
	color: #eeeeee;
}

a {
	color: inherit;
}

h1 {
	color: #af5f00;
}

h2 {
	color: #26a269;
}

h3 {
	color: #c01c28;
}

h4 {
	color: #aaa;
}

#main {
	padding-left: 20px;
}

.license {
	width: 700px;
}

pre {
	background-color: #ccc;
	color: 333;
	padding: 10px;
	border-radius: 5px;
}
