body {
	margin: 0;
	padding: 0 0;
	background-color: #1e1e1e;
}

.header {
	height: 100%;
	background-color: #4e4e4e;
	padding: 10px;
}

p, li, th, span {
	color: #eeeeee;
}

a {
	color: inherit;
}

h1 {
	color: #af5f00;
}

h2 {
	color: #26a269;
}

h3 {
	color: #c01c28;
}

#main {
	padding: 20px;
}

.license {
	width: 700px;
}
